#chat-app {
    margin: 5% 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.display-panel {
    display: flex;
    flex-direction: row;
}

.users {
    border: 1px solid black;
    list-style: none;
    padding: 5px;
    margin: 0;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 0;
    width: -webkit-fill-available;
    height: 80vh;
    overflow: auto;
}

.message {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.message:hover {
    background-color: #bada55;
}

.meta-info {
    min-width: 250px;
    background-color: lightgrey;
    padding: 5px;
}

.message-text {
    padding-left: 10px;
}

.login-panel {
    border: 1px solid black;
    text-align: center;
}

.status {
    color: red;
    text-align: center;
}

.logout {
    float: right;
}

.outgoing input {
    width: 53vw;
}
